<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--注册bean-->
    <bean id="userService" class="com.zym.service.UserServiceImpl"/>
    <bean id="log" class="com.zym.log.Log"/>
    <bean id="afterLog" class="com.zym.log.AfterLog"/>
    <!--配置AOP-->

    <!--方式一：使用原生的Spring API接口-->
<!--    <aop:config>-->
<!--        &lt;!&ndash;切入点：expression：表达式，execution（要执行的位置！******）&ndash;&gt;-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.zym.service.UserServiceImpl.*(..))"/>-->

<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->
<!--    方式二：自定义类-->
    <bean id="diy" class="com.zym.diy.DiyPointCut"/>

    <aop:config>
<!--        自定义切面，ref引用类-->
        <aop:aspect ref="diy">
            <aop:pointcut id="point" expression="execution(* com.zym.service.UserServiceImpl.*(..))"/>

            <aop:before method="before" pointcut-ref="point"/>
            <aop:after method="after" pointcut-ref="point"/>
        </aop:aspect>
    </aop:config>
</beans>